DATABASE_URL=postgresql://username:password@hostname/roulette_ai?sslmode=require

API_TITLE=Roulette AI API
API_VERSION=1.0.0
API_ENV=development

LOG_LEVEL=INFO
API_DOCS_ENABLED=true

CORS_ORIGINS=http://localhost:5173,https://agien99.github.io